.header{
  justify-content: space-between;
  flex-direction: column-reverse;
}

@media (min-width: 768px){
  .header{
    justify-content: space-between;
    flex-direction: row;
  }

}

.title{
  background-color: #041f3b;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  display: flex;
  border-radius: 5px;
}

.title-module{
  text-align: center;
  margin: auto;
  padding: auto;
}

.picture-photo{
  margin-bottom: 10px;
}

.add-photo{
  text-align: left;
}
